.boardWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.board {
    width: 70vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.boardHeading {
    margin-top: 0;
    margin-bottom: 8px;
    font: 700 18px / 1.618 sans-serif;
    list-style-type: none;
}


.boardHistoryList {
    padding: 0;
    list-style-type: none;
}

.boardFooter {
    width: 100%;
}

.boardLink {
    margin: 200px !important;
    font-size: 1rem;
    text-decoration: none;
}

.boardLink::before {
    content: '🛬';
    font-size: 1rem;
    color: white;
    text-decoration: none;
}